/* Write your CSS code here */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
}

.title-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.title {
  font-family: 'roboto';
  font-size: 16px;
  font-weight: bold;
  color: #12022f;
}

.list-container {
  display: flex;
  padding-left: 0px;
  list-style-type: none;
}

.nav-link {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
  color: #12022f;
  text-decoration: none;
  margin-left: 16px;
}

@media screen and (max-width: 575px) {
  .navbar {
    padding: 15px;
  }
}
